<div class="root">
  <div class="video-wrapper">
    <div id="youtube-frame"></div>
    <script>

      function receiveMessage(event)
      {
        if (event.origin.indexOf('sp://') !== -1) {
          if (event.data.indexOf('position:') !== -1) {
            var position = event.data.substr(9);
            player.seekTo(position/1000, true);
          }
          else if(currentID != event.data) {
            currentID = event.data;
            player.loadVideoById(event.data, 0, 'maxres');
            player.setPlaybackQuality('highres');
            player.mute()
          }
        }
      }
    </script>
  </div>
</div>